<!--新增about布局widget-->
<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('about') %></h3>
    <div class="widget">
		关于我-暂时没用侧边栏的关于，这里样式不加了
    </div>
  </div>
<% } %>