<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('tagcloud') %></h3>
    <div class="widget tagcloud">
      <%- tagcloud({
      	min_font: 10,
      	max_font: 20,
      	unit: "px",
      	amount: 38,
      	order: 1,
      	color: true,
      	start_color: "#999999",
      	end_color: "#666666"
      	}) %>
    </div>
  </div>
<% } %>